.note-button {
    display: none;
    margin-top: 20%;
}
.note-button button {
    border-radius: 30px;
    background-color: #236967;
    border: none;
    color: #fff;
    padding: 12px 30px;
}
.note {
    margin-top: 15%;
    background-color: #FFFBED;
    padding: 7%;
    border-radius: 70px;
    display: grid;
    align-items: center;
    gap: 10%;
}

.note-1 h1 {
    font-size: 24px;
    font-weight: 900;
}

.note-2 {
    display: flex;
    gap: 5%;
}
.note-2 p {
    margin-left: 20%;
    line-height: 1.2;
}
.note-2 div {
    width: 20%;
    border-bottom: 2px solid #236967;
}
.note-3 select {
    padding: 1% 1%;
    width: 40%;
    border: 1px solid #FFECA0;
    border-radius: 10px;
}
.note-4 input{
    padding-left: 10%;
}
.note-6 input,
.note-5 input{
    padding: 1% 1%;
    border-radius: 10px;
    border: 1px solid #FFECA0;
}

.note-7 button {
    border-radius: 30px;
    background-color: #236967;
    border: none;
    color: #fff;
    padding: 12px 30px;
}

@media (max-width:541px) {
    .note {
        display: none;
    }
    .note-button{
        display: grid;
        justify-content: center;
        margin-top: 30%;
    }
}