.kids {
    display: flex;
    margin-top: 20%;
    justify-content: space-between;
}
.kids img {
    width: 80%;
}
.kids-text-theme {
    font-size: 24px;
    font-weight: 900;
}
.kids-text-content h2 {
    margin-bottom: 10%;
}
.kids-text-c{
    display: flex;
    margin-top: 15%;
    line-height: 1.6;
}
.kids-text-content {
    display: grid;
    justify-content: center;
}
.kids-text-content p {
    margin-bottom: 5%;
    color: gray;
}

@media (max-width:800px) {
    .kids-img {
        display: none;
    }
    .kids {
        margin-top: 30%;
    }
}