.lang {
    display: grid;
    background-color: #FFFBED;
    justify-content: center;
    align-self: center;
    margin-top: 5%;
    padding: 5%;
    border-radius: 70px;
}
.lang-list {
    display: flex;
    justify-content: center;
    margin-left: 10%;
}
.lang-list img {
    width: 12%;
}
.lang-list--1 {
    display: flex;
    align-items: center;
    gap: 5%;
}
.lang p {
    margin-left: 10%;
    margin-bottom: 3%;
    /* background-color: #FFECA0; */
    background: linear-gradient(90deg, #FFECA0 25%, #FFFBED 25%);
    font-weight: 700;
}



@media (max-width:611px) {
    .lang {
        margin-top: 10%;
    }
    .lang-list {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 5%;
        
    }
}